#home-container {
  width: 100%;
  height: calc(100vh - 66px);
  background-color: red;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 24px
}

.home-slice {
  height: calc(100vh - 66px);
  background-color: rgb(240, 240, 240);
  padding: 24px;
}

.slice-today-double-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 12px
}

.slice-today-item {
  background-color: white;
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  position: relative;
  margin: 20px 0;
}

.slice-today-item-head {
  display: flex;
  justify-content: space-between;
  a {
    color: blue;
  }
}

.slice-today-item-bottom {
  position: absolute;
  bottom: 12px;
  right: 12px;
  text-align: end;
  h4 {
    margin: 0;
  }
}

.item-meal  {
  height: auto;
  a {
    color: black;
    text-decoration: none;
  }
}

.item-meal .meal-type {
  text-transform: uppercase;
}

.item-meal .meal-ingredient {
  margin-left: 2rem;
}

.slice-logo {
  font-size: 32px;
  margin-bottom: 20px;
}

.item-days-content {
  display: flex;
  justify-content: space-around;
  a {
    color: black;
    text-decoration: none;
  }
}
