<div class="slice-today-item item-days">
  <div class="slice-today-item-head">
    <i class="fa-solid fa-calendar-day slice-logo"></i>
  </div>
    <div class="item-days-content">
      <%= link_to "Voir mes journées", days_path %>
      <%= link_to "Créer une journée", new_day_path %>
    </div>
</div>
