<div class="slice-today-item item-meal">
  <div class="slice-today-item-head">
    <h3>Repas</h3>
    <%= link_to new_day_meal_path(@day.id) do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
    <% if @day.meals.count == 0 %>
      <h6>Aucune repas enregistré pour cette journée</h6>
    <% else %>
      <% @day.meals.each do |meal| %>
        <%= link_to meal.type, day_meal_path(@day.id, meal.id), class:"meal-type" %>
          <br/>
        <% meal.ingredients.each do |ingredient| %>
            <%= link_to ingredient.name, day_meal_ingredient_path(@day.id, meal.id, ingredient.id), class:"meal-ingredient" %>
          <br/>
        <% end %>
      <% end %>
    <% end %>
</div>
