<div class="slice-today-item item-meal">
  <div class="slice-today-item-head">
    <i class="fa-solid fa-utensils slice-logo"></i>
    <%= link_to new_day_meal_path(@day.id) do %>
      <i class="fa-solid fa-plus"></i>
    <% end %>
  </div>
    <% if @day.meals.count == 0 %>
      <h6>Aucune repas enregistré pour cette journée</h6>
    <% else %>
      <% @day.meals.each do |meal| %>
        <%= link_to meal.type, day_meal_path(@day.id, meal.id), class:"meal-type item-meal-link" %> :
          <br/>
        <% meal.ingredients.each do |ingredient| %>
            <% meal_ingredient = MealIngredient.where(meal_id: meal.id).find_by_ingredient_id(ingredient.id) %>
            <%= link_to ingredient.name, day_meal_ingredient_path(@day.id, meal.id, ingredient.id), class:"meal-ingredient item-meal-link" %> (<%= meal_ingredient.quantity.round %>g)
          <br/>
        <% end %>
      <% end %>
    <% end %>
</div>
