<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">
    <%= link_to :root, class: "navbar-brand" do %>
      <h2>MyMICI</h2>
    <% end %>

    <div class="nav-bar-items" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to destroy_user_session_path, class: "nav-link" do %>
              <i class="fa-solid fa-right-from-bracket"></i>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Se connecter", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
