<h3>Aujourd'hui</h3>
<%= render 'shared/day' %>
<br/>
<%= link_to "Voir mes journées", days_path %>
<%= link_to "Créer une nouvelle journée", new_day_path %>
<br/>

<%= link_to "Valeurs à suivre", new_user_preference_path %>
