<div class="slice-today-item item-state">
  <% @suspicious_ingredients.each do |i| %>
    <ul>
      <li><%= i.name %></li>
    </ul>
  <% end %>
  <% @crises.each do |crisis| %>
    <ul>
      <li><%= crisis.start_date %> - <%= crisis.end_date %></li>
    </ul>
  <% end %>
</div>
