<div class="container">
  <div class="form-title">

  <% if @date %>
    <% date = Date.parse @date %>
    <p>Aucune information enregistrée pour la journée du <%= I18n.localize(@day.date, format: :long) %></p>
  <% end %>

  </div>

  <div class="form-buttons">
    <%= link_to "Retour", :back, class: "btn btn-danger btn-annuler" %>
    <%= link_to "Créer cette journée", days_path(date), method: :post, class: "btn btn-primary" %>
  </div>
</div>
