.simple-calendar .day {
  height: auto;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.calendar-heading {
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
}

.simple-calendar .today {
  background: #bad6ff;
}

.day-created {
  color: $primary;
  font-weight: 600;
}

.day-not-created {
  color: black;
}

.day-today {
  border: 1px solid black;
}
