.simple-calendar .day {
  height: auto;
  text-align: center;
  a {
    text-decoration: none;
  }
}

.calendar-heading {
  text-align: center;
  a {
    text-decoration: none;
    color: black;
  }
}

.simple-calendar .today {
  background: #bad6ff;
}

.day-created {
  color: $primary;
  font-weight: 600;
}

.day-not-created a {
  color: rgb(50, 50, 50);
  font-weight: 600;
  &:hover {
    cursor: pointer;
  }
}

.day-today {
  border-radius: 4px;
  border: 1px solid black;
}
