.form-title {
  padding: 36px 0 24px 0;
  text-align: center;
}

.form-buttons {
  padding-top: 48px;
  display: flex;
  justify-content: space-around;
  a {
    color: white;
    &:hover {
     color: white;
    }
  }
}
