.form-title {
  padding: 48px 0 24px 0;
  text-align: center;
}

.form-buttons {
  padding-top: 48px;
  display: flex;
  justify-content: space-around;
}

.btn-annuler {
  color: white;
  &:hover {
    color: white;
  }
}
