.navbar-lewagon {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99999;
  justify-content: space-between;
  background: rgb(40, 40, 40);
  padding: 12px 24px;
  .navbar-brand {
    color: rgb(240, 240, 240);
    transition: 0.2s;
    &:hover {
      color: rgb(200, 200, 200);
      transition: 0.2s;
    }
  }
  h2 {
    margin: 0;
  }
}

.navbar-light .navbar-nav .nav-link {
  color: rgb(240, 240, 240);
  font-size: 20px;
  padding-left: 20px;
  transition: 0.2s;
    &:hover {
      color: rgb(200, 200, 200);
      transition: 0.2s;
    }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
